---
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import MainContent from "./MainContent.astro";
import Footer from "./Footer.astro";
---

<div class="min-h-screen bg-white">
  <Header />
  <Hero />
  <MainContent />
  <Footer />
</div>
